[submodule "content/themes/casper"]
	path = content/themes/casper
	url = git://github.com/TryGhost/Casper.git
[submodule "content/themes/casper_henning"]
	path = content/themes/casper_henning
	url = git@github.com:henning/Casper.git
	branch = production
